In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\User\Downloads\Flavors.csv")
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [17]:
group_by_frame = df.groupby('Base Flavor')

In [22]:
group_by_frame.mean(3)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [23]:
df.groupby('Base Flavor').mean(3)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [21]:
df.groupby('Base Flavor').count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [24]:
df.groupby('Base Flavor').min()

                  Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate      Chocolate   Yes            8.2             7.0          15.2
Vanilla      Cake Batter    No            2.3             3.4           5.7

In [25]:
df.groupby('Base Flavor').max()

                 Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate    Rocky Road   Yes            8.8             7.6          16.6
Vanilla         Vanilla   Yes           10.0             8.0          18.0

In [26]:
df.groupby('Base Flavor').sum()

,Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
Base Flavor,,,,,
Chocolate,ChocolateRocky RoadChocolte Fudge Brownie,YesYesYes,25.2,21.7,47.1
Vanilla,Mint Chocolate ChipVanillaCookie DoughPistachi...,YesNoYesNoYesNo,34.2,33.9,68.1

In [27]:
df.groupby('Base Flavor').sum(4)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate             25.2            21.7          47.1
Vanilla               34.2            33.9          68.1

In [30]:
df.groupby('Base Flavor').agg({'Flavor Rating':['min','max','count','sum']})

            Flavor Rating
                      min   max count   sum
Base Flavor
Chocolate             8.2   8.8     3  25.2
Vanilla               2.3  10.0     6  34.2

In [33]:
df.groupby('Base Flavor').agg({'Flavor Rating':['min','max','count','sum'],'Texture Rating':['mean','max','count','sum']})

            Flavor Rating                   Texture Rating
                      min   max count   sum           mean  max count   sum
Base Flavor
Chocolate             8.2   8.8     3  25.2       7.233333  7.6     3  21.7
Vanilla               2.3  10.0     6  34.2       5.650000  8.0     6  33.9

In [34]:
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [44]:
df.groupby(['Base Flavor','Liked']).mean()

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

In [42]:
df.groupby(['Base Flavor','Liked']).agg({'Flavor Rating':['min','max','count','sum']})

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

In [47]:
df.groupby('Base Flavor').describe()

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'